{% extends 'base.html' %}

{% block my_block %}

    <form method="POST" class="fixed-bottom" role="form">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control-sm") }}
        <br>
        {{ form.age.label(class="form-label") }}
        {{ form.age(class="form-control-sm") }}
        <br>
        {{ form.country.label(class="form-label") }}
        {{ form.country(class="form-control-sm") }}
        <br>
        {{ form.gender.label(class="form-label") }}
        {{ form.gender(class="form-control-sm") }}
        <br>
        {{ form.submit(class="btn btn-secondary") }}

    </form>

{% endblock %}