{% extends 'base.html' %}
{% block navbar %}
  <a class="navbar-brand" href="#">Drinkers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link  disabled" href="taste">Taste Now</a>
      <a class="nav-item nav-link  disabled" href="history">My Whisky List</a>
        <a class="nav-item nav-link  disabled" href="statistics">Statistics</a>
    </div>
  </div>
{% endblock %}
{% block my_block %}

    <form method="POST" class="fixed-bottom gap-2 col-6 mx-auto">
        {{ form.hidden_tag() }}

        {{ form.age.label }}
        {{ form.age(size=32) }}
        <br>
        <button class="btn btn-primary">
            {{ form.submit() }}
        </button>

    </form>

{% endblock %}