{% extends 'base.html' %}

{% block my_block %}

    <form method="POST" class="fixed-bottom" role="form">
        {{ form.hidden_tag() }}

        {{ form.distillery.label(class="form-label") }}
        {{ form.distillery(class="form-control-sm") }}
        <br>
        {{ form.edition.label(class="form-label") }}
        {{ form.edition(class="form-control-sm") }}
        <br>
        {{ form.color.label(class="form-label") }}
        {{ form.color(class="form-control-sm") }}
        <br>
        {{ form.nose.label(class="form-label") }}
        {{ form.nose(class="form-control-sm") }}
        <br>
        {{ form.palate.label(class="form-label") }}
        {{ form.palate(class="form-control-sm") }}
        <br>
        {{ form.finish.label(class="form-label") }}
        {{ form.finish(class="form-control-sm") }}
        <br>
            {{ form.submit(class="btn btn-secondary") }}


    </form>

{% endblock %}

