{% extends "base.html" %}
{% block content %}
<form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}

        {{ form.distillery.label }}
        {{ form.distillery(size=32) }}
        <br>
        {{ form.name.label }}
        {{ form.name(size=32) }}
        <br>
        <label for="exampleColorInput" class="form-label">What is the color of the whisky your drinking?</label>
        <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="The whisky color">
        <br>
        <button class="btn btn-primary">
            {{ form.submit() }}
        </button>

</form>
{% endblock %}




<!--{% block my_block %}-->
<!--<form>-->
<!--<label for="exampleColorInput" class="form-label">What is the color of the whisky your drinking?</label>-->
<!--<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#563d7c" title="The whisky color"><br>-->

<!--<select class="form-select" aria-label="Default select example">-->
<!--  <option selected>How long is the finish</option>-->
<!--  <option value="1">Very short</option>-->
<!--  <option value="2">Short</option>-->
<!--  <option value="3">Medium</option>-->
<!--  <option value="4">Long</option>-->
<!--  <option value="5">Very long</option>-->
<!--</select>-->
<!--  </form>-->
<!--{% endblock %}-->

<!--<form method="POST">-->
<!--        {{ form.hidden_tag() }}-->

<!--        {{ form.distillery.label }}-->
<!--        {{ form.distillery(size=32) }}-->
<!--        <br>-->
<!--        {{ form.name.label }}-->
<!--        {{ form.name(size=32) }}-->
<!--        <br>-->
<!--        <button class="btn btn-primary">-->
<!--            {{ form.submit() }}-->
<!--        </button>-->

<!--    </form>-->